---
import TableOfContents from './TableOfContents.astro';
const { content } = Astro.props;
const headers = content.astro?.headers || [];
---

<nav aria-labelledby="grid-right">
	<div class="px-8">
		<TableOfContents headers={headers} />
	</div>
</nav>

<style>
@media screen and (max-width: 550px) {
	nav {
	  font-size: 0.8rem;
	  padding: 0.5rem;
	}
  
	.px-8 {
	  padding-left: 0;
	  padding-right: 0;
	}
  }

</style>